admin/
archive/
go/
billing/htdocs/cost-report*
billing/cost-report*
billing/config.local
billing/output/
vpc/vsi/bash/config.local
vpc/vsi/terraform/
vpc/vsi/bash/vsi-for-vpc-gen2-bulk.sh
vpc/vsi/terraform/
config.local
.DS_Store

volumes/kube-orphaned-volumes/sort.py
volumes/kube-orphaned-volumes/output
volumes/kube-orphaned-volumes/**/clusterVolumes.json

account-management/users/build/
account-management/users/valid-users-hcbt.yaml
account-management/build/